<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <title>AngularJS Dynamic Template</title>

    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <link rel="stylesheet" href="css/layout.css">
</head>
<body>

<div id="container" ng-controller="ContentCtrl">
    <div ng-repeat="item in content" class="entry">
      <div ng-repeat="(type, url) in types" ng-include="url" ng-if="type == item.content_type"></div>
    </div>
</div>

</body>
</html>